<h1>Snippets</h1>
<div class="new-snippet-link"><a href="/new">New Snippet</a></div>
<hr />
<% snippets.each do |snippet|  %>
  <div class="snippet-row">
    <a href="/<%= snippet["_id"].to_s %>">show</a> [<%= snippet["language"].to_s.upcase %>] | <%= snippet["title"] %>
  </div>
<% end  %>
