<!DOCTYPE html>
<html>
<head>
  <title>My Pastie</title>
  <link href="/css/application.css" media="all" rel="stylesheet" type="text/css" />
  <script src="/javascripts/jquery-1.8.3.min.js" type="text/javascript"></script>
	<script src="/javascripts/application.js" type="text/javascript"></script>
</head>
<body>
<%= yield %>
</body>
</html>
